body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.list {
  background: lightpink;
  border-radius: 20px;
  padding: 20px;
}
.burgerpane {
  text-align: center;
}
.ingred {
  height: 50px;
  width: 300px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}
.ingred h2 {
  margin: 0;
}
.stack {
  padding: 20px;
  height: 450px;
  width: 500px;
  display: flex;
  flex-direction: column-reverse;
}
.italic {
  font-style: italic;
}